<div class="bannerSlim" style="background-image: url('images/banner.png');  background-position-y: 55%;">
    <div class="bannerWrap"></div>
    <h2>Статьи</h2>
</div>
<div class="wrapper clearfix">

    <div class="svg-sprite-directive"></div>

    <div class="blog">
        <div class="blogItemWrap whiteBg clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blogImg" style="background-image: url('https://cdn.shopify.com/s/files/1/0081/1222/files/PFTVGarageBanner.jpg?15467243644333960507'); ">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 blogTxt">
                <h3><a href="article.html">Title</a></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sem at tortor auctor dignissim eget non magna. Duis vestibulum ornare diam a pharetra. Maecenas eu eros eget urna dapibus faucibus. Aenean fermentum augue non ligula aliquet lacinia. Etiam ligula velit, vulputate id pulvinar sit amet, imperdiet at erat. Morbi faucibus elementum gravida. Etiam cursus lacus sed arcu placerat tempus. Proin ut dui sit amet augue ornare sagittis vel at urna. Vivamus scelerisque a metus ac varius. Aliquam facilisis malesuada libero. Donec porta mi quis eros consectetur, at fermentum est euismod. Nullam eros enim, varius sit amet tristique vitae, porta quis mauris.
                </p>
            </div>
        </div>
        <div class="blogItemWrap whiteBg clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blogImg" style="background-image: url('https://cdn.shopify.com/s/files/1/0081/1222/files/PFTVGarageBanner.jpg?15467243644333960507'); ">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 blogTxt">
                <h3><a href="article.html">Title</a></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sem at tortor auctor dignissim eget non magna. Duis vestibulum ornare diam a pharetra. Maecenas eu eros eget urna dapibus faucibus. Aenean fermentum augue non ligula aliquet lacinia. Etiam ligula velit, vulputate id pulvinar sit amet, imperdiet at erat. Morbi faucibus elementum gravida. Etiam cursus lacus sed arcu placerat tempus. Proin ut dui sit amet augue ornare sagittis vel at urna. Vivamus scelerisque a metus ac varius. Aliquam facilisis malesuada libero. Donec porta mi quis eros consectetur, at fermentum est euismod. Nullam eros enim, varius sit amet tristique vitae, porta quis mauris.
                </p>
            </div>
        </div>
        <div class="blogItemWrap whiteBg clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 blogImg" style="background-image: url('https://cdn.shopify.com/s/files/1/0081/1222/files/PFTVGarageBanner.jpg?15467243644333960507'); ">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 blogTxt">
                <h3><a href="article.html">Title</a></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in sem at tortor auctor dignissim eget non magna. Duis vestibulum ornare diam a pharetra. Maecenas eu eros eget urna dapibus faucibus. Aenean fermentum augue non ligula aliquet lacinia. Etiam ligula velit, vulputate id pulvinar sit amet, imperdiet at erat. Morbi faucibus elementum gravida. Etiam cursus lacus sed arcu placerat tempus. Proin ut dui sit amet augue ornare sagittis vel at urna. Vivamus scelerisque a metus ac varius. Aliquam facilisis malesuada libero. Donec porta mi quis eros consectetur, at fermentum est euismod. Nullam eros enim, varius sit amet tristique vitae, porta quis mauris.
                </p>
            </div>
        </div>
    </div>
</div>