<h2 translate>CATALOG_CATALOG</h2>

<div class="products clearfix">

  <ul class="effect-2 grid cs-style-2 clearfix" id="grid">

    <li *ngFor="let vitamin of catalog | catalogSortFilter:sortParam | catalogOffsetFilter:offset; let last = last" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <figure>
        <div class="figurWrap">
          <h3><a [routerLink]="['/product', vitamin.id]">{{vitamin.name}} &mdash; <span class="price">${{vitamin.price | number:'1.2-2'}}</span></a></h3>
          <img src="assets/{{vitamin.img}}">
        </div>
        <figcaption *ngIf="!vitamin.inCart">
          <div class="clearfix buttonBlock" attr.data-id="{{vitamin.id}}">
            <select class="cs-select cs-skin-border">
              <option value="1" disabled selected>1</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>

            <button (click)="addProductToCart(vitamin)" class="button styl-material">
              <div translate>IN_CART_CATALOG</div>
              <svg class="ripple-obj" id="js-ripple">
                <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
              </svg>
            </button>
          </div>
        </figcaption>
        <figcaption *ngIf="vitamin.inCart">
          <div class="clearfix buttonBlock">
            <div class="inCart" translate>ALREADY_IN_CART_CATALOG</div>
          </div>
        </figcaption>
      </figure>
      <div *ngIf="last && ngForFinish()"></div>
    </li>
  </ul>
  <div class="more">
    <button (click)="addOffset()" class="button styl-material">
      <div translate>MORE</div>
      <svg class="ripple-obj" id="js-ripple">
        <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
      </svg>
    </button>
  </div>
</div>

<!--button id="js-ripple-btn"-->
