<div class="breadCrumbs">
    <a ui-sref="checkout" translate>CHECKOUT</a>
    <div class="delimeter"></div>
    <a ui-sref="cart" translate>CART_LINK</a>
</div>
<div ng-repeat="product in cart" class="clearfix productCartRow">

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 productImg cartCol">
        <img ng-src="{{product.img}}" alt="">
    </div>
    <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 productCartText cartCol">

        <div class="productBlock">
            <h3><a ui-sref="product({'productID':product.id})" ng-bind="product.name"></a></h3>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat sit amet enim auctor feugiat.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis...  </p>
        </div>

    </div>
    <div class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol" ng-bind-template="${{product.price | number:2}}"></div>
    <div class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol">
        <input class="input" type="text" ng-model="product.amount" ng-change="amountChange(product)">
    </div>
    <div class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol" ng-bind-template="${{(product.amount * product.price) | number:2}}"></div>
    <button ng-click="deleteProductInCart($index)" class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol cartDelete">s</button>
</div>
<div class="clearfix">
    <div class="clearfix productCartRow cartAllCount">

        <div class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol" ng-bind="cart.length"></div>


        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 productCartText cartCol">

            <h3 class="text-left" style="margin-bottom: 0px;" translate>TOTAL_CART</h3>

        </div>
        <div class="text-center empty col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol">

        </div>
        <div class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol" ng-bind="getAllCount()"></div>
        <div class="text-center col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol" ng-bind-template="${{getAllPrice() | number:2}}"></div>
        <div class="text-center empty col-lg-1 col-md-1 col-sm-1 col-xs-12 productCartText cartCol"></div>
    </div>
</div>