<h2 translate>CONTACT_US</h2>

<div class="indexForm contactsForm col-lg-6 col-md-8 col-sm-10 col-xs-12 clearfix">

    <div class="clearfix">
        <div class="inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>
                <input class=""  placeholder="{{ 'YOUR_NAME_CONTACT_US' | translate }}">
            </label>
        </div>
        <div class="telInp inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>
                <input class=""  placeholder="{{ 'EMAIL_CONTACT_US' | translate }}">
            </label>
        </div>
        <div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label>
                <input class=""  placeholder="{{ 'PHONE_CONTACT_US' | translate }}">
            </label>
        </div>

    </div>
    <div class="areaWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <textarea></textarea>
    </div>
    <!--                        <input type="button" class="button" value="ОТПРАВИТЬ">-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button id="js-ripple-btn" class="button styl-material">
            <div translate>SEND</div>
            <svg class="ripple-obj" id="js-ripple">
                <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
            </svg>
        </button>
    </div>

</div>