<h2>Новости</h2>

<div class="indexNews clearfix">
    <div class="news col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="images/year.jpg" alt="">
    </div>
    <div class="news col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="images/year.jpg" alt="">
    </div>
    <div class="news col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="images/year.jpg" alt="">
    </div>
    <div class="news col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <img src="images/year.jpg" alt="">
    </div>
</div>