<div class="snap-drawer snap-drawer-left">
    <div class="side">
        <h2>Меню</h2>
        <ul>
            <li><a ui-sref="home" >Главная</a></li>
            <li><a ui-sref="products" >Товары</a></li>
            <li><a ui-sref="blog" >Блог</a></li>
            <li><a ui-sref="about_us" >О компании</a></li>
            <li><a ui-sref="contacts" >Контакты</a></li>
        </ul>

        <h2>Категории</h2>
        <ul>
            <li><a href="#" >Мужские</a></li>
            <li><a href="#" >Женские</a></li>
            <li><a href="#" >Детские</a></li>
            <li><a href="#" >Спортивные</a></li>
        </ul>
        <h2>Контакты</h2>
        <p>email@Vtaminka.com</p>

        <div class="socialSmall clearfix">
            <span class="social vk">E</span>
            <span class="social fb">B</span>
            <span class="social google">C</span>
            <span class="social tw">D</span>
        </div>
    </div>
</div>