<div class="snap-drawer snap-drawer-left">
    <div class="side">
        <h2 translate>MENU</h2>
        <ul>
            <li><a ui-sref="home" translate>MAIN_LINK</a></li>
            <li><a ui-sref="products({'sortParam':'all'})" translate>PRODUCTS_LINK</a></li>
            <li><a ui-sref="blog" translate>BLOG_LINK</a></li>
            <li><a ui-sref="about_us" translate>ABOUT_LINK</a></li>
            <li><a ui-sref="contacts" translate>CONTACTS_LINK</a></li>
        </ul>

        <h2 translate>CATEGORIES</h2>
        <ul>
            <li><a ui-sref="products({'sortParam':'all'})" translate>ALL_PRODUCTS</a></li>
            <li><a ui-sref="products({'sortParam':'male'})" translate>MALE_PRODUCTS</a></li>
            <li><a ui-sref="products({'sortParam':'female'})" translate>FEMALE_PRODUCTS</a></li>
            <li><a ui-sref="products({'sortParam':'children'})" translate>CHILDREN_PRODUCTS</a></li>
            <li><a ui-sref="products({'sortParam':'sport'})" translate>SPORT_PRODUCTS</a></li>
        </ul>
        <h2 translate>CONTACTS</h2>
        <p>email@Vtaminka.com</p>

        <div class="socialSmall clearfix">
            <span class="social vk">E</span>
            <span class="social fb">B</span>
            <span class="social google">C</span>
            <span class="social tw">D</span>
        </div>
    </div>
</div>