<div class="snap-drawer snap-drawer-left">
    <div class="side">
        <h2>Меню</h2>
        <ul>
            <li><a href="index.html" >Главная</a></li>
            <li><a href="products.html" >Товары</a></li>
            <li><a href="blog.html" >Блог</a></li>
            <li><a href="about_us.html" >О компании</a></li>
            <li><a href="contacts.html" >Контакты</a></li>
        </ul>

        <h2>Категории</h2>
        <ul>
            <li><a href="index.html" >Мужские</a></li>
            <li><a href="products.html" >Женские</a></li>
            <li><a href="blog.html" >Детские</a></li>
            <li><a href="contacts.html" >Спортивные</a></li>
        </ul>
        <h2>Контакты</h2>
        <p>email@Vtaminka.com</p>

        <div class="socialSmall clearfix">
            <span class="social vk">E</span>
            <span class="social fb">B</span>
            <span class="social google">C</span>
            <span class="social tw">D</span>
        </div>
    </div>
</div>