<div class="bannerSlim" style="background-image: url('assets/images/banner.png');
        background-position-y: 55%;">
    <div class="bannerWrap"></div>
    <h2 ng-bind="product.name"></h2>
</div>
<div class="wrapper clearfix">
    <div class="svg-sprite-directive"></div>
    <div class="clearfix product">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 productImg">
            <img ng-src="{{product.img}}" alt="">
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 productText">

            <div class="productBlock">
                <h3 class="productPrice" ng-bind-template="${{product.price | number:2}}"></h3>
                <div class="productToCart">
                    <div class="clearfix buttonBlock" ng-if="!product.inCart">
                        <input ng-change="amountChange()" ng-model="product.amount" class="input" type="text">
                        <button ng-click="addProductToCart(product)" id="js-ripple-btn" class="button styl-material">
                            <div translate>IN_CART_CATALOG</div>
                            <svg class="ripple-obj" id="js-ripple">
                                <use height="100" width="100" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ripply-scott" class="js-ripple"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="clearfix buttonBlock" ng-if="product.inCart">
                        <div class="inCart" translate>ALREADY_IN_CART_CATALOG</div>
                    </div>
                </div>
                <h3 translate>DESCRIPTION</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat sit amet enim auctor feugiat.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis. </p>
                <p> Aenean nec ultricies enim.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis. Duis vitae mauris erat.</p>

            </div>

        </div>

    </div>
    <div class="clearfix product">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 productText">

            <div>
                <div class="tabsContent">
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">
                        <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab" translate>DESCRIPTION</a></li>
                        <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab" translate>COMPOSITION</a></li>
                        <li role="presentation"><a aria-controls="info" role="tab" data-toggle="tab" translate>PRODUCT_INFORMATION</a></li>
                        <li role="presentation" class=""><a aria-controls="home" role="tab" data-toggle="tab" translate>DESCRIPTION</a></li>
                        <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab" translate>COMPOSITION</a></li>
                        <li role="presentation"><a aria-controls="info" role="tab" data-toggle="tab" translate>PRODUCT_INFORMATION</a></li>
                        <li role="presentation" class=""><a aria-controls="home" role="tab" data-toggle="tab" translate>DESCRIPTION</a></li>
                        <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab" translate>COMPOSITION</a></li>
                        <li role="presentation"><a aria-controls="info" role="tab" data-toggle="tab" translate>PRODUCT_INFORMATION</a></li>

                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active productBlock" id="home">

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat sit amet enim auctor feugiat.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis. </p>
                        <p> Aenean nec ultricies enim.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis.  Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis. Duis vitae mauris erat.</p>

                    </div>
                    <div role="tabpanel" class="tab-pane productBlock" id="profile">

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sagittis erat sit amet enim auctor feugiat. </p>
                        <p> Aenean nec ultricies enim. Vestibulum ut viverra orci. Maecenas suscipit odio quis felis varius mollis. Duis vitae mauris erat.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane productBlock" id="info">

                        <p><span class="bold">Дозировка на год: </span> 1000г</p>
                        <p><span class="bold">Дозировка на 6 месяцев:</span> 500г</p>
                        <p><span class="bold">Противопоказания: </span> нет</p>
                        <p><span class="bold">Дополнительные факты: </span> нет</p>
                        <p><span class="bold">Количество в упаковке: </span> 100</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
